{% extends 'layout.htm' %}
{% block content %}

    <!-- Note -->
    <div class="alert alert-info" role="alert">
        <p>Данные взяты с сайта ФГБУ «Северо-Западное УГМС»</p>
        <p><a href="http://tarifspb.ru/documents/acts/" target="_blank"><span class="glyphicon glyphicon-link"></span> http://www.meteo.nw.ru/</a></p>
    </div>

    {% for season, season_data in data.items() %}

        <!-- Table -->
        <table class="table table-hover">
            <caption>Среднемесячная температура<br><span class="label label-primary">{{ season }}</span></caption>
            <thead>
                <tr>
                    <th>Месяц</th>
                    <th>Температура</th>
                </tr>
            </thead>
            <tbody>

                {% for key, value in season_data.items() %}

                    <tr>
                        <td class="col-xs-10">{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>

    {% endfor %}

{% endblock %}