{% extends 'layout.htm' %}
{% block content %}

    <!-- Info -->
    <p>
        <strong>Список закупок</strong><br>
        <a href="http://zakupki.gov.ru/epz/order/extendedsearch/results.html?recordsPerPage=_50&fz223=on&customerTitle=%D0%9E%D0%91%D0%A9%D0%95%D0%A1%D0%A2%D0%92%D0%9E+%D0%A1+%D0%9E%D0%93%D0%A0%D0%90%D0%9D%D0%98%D0%A7%D0%95%D0%9D%D0%9D%D0%9E%D0%99+%D0%9E%D0%A2%D0%92%D0%95%D0%A2%D0%A1%D0%A2%D0%92%D0%95%D0%9D%D0%9D%D0%9E%D0%A1%D0%A2%D0%AC%D0%AE+%22%D0%96%D0%98%D0%9B%D0%9A%D0%9E%D0%9C%D0%A1%D0%95%D0%A0%D0%92%D0%98%D0%A1+%E2%84%96+2+%D0%9A%D0%98%D0%A0%D0%9E%D0%92%D0%A1%D0%9A%D0%9E%D0%93%D0%9E+%D0%A0%D0%90%D0%99%D0%9E%D0%9D%D0%90%22&customerFz223id=22688&customerInn=7805458533" target="_blank"><span class="glyphicon glyphicon-link"></span> http://zakupki.gov.ru/epz/order/extendedsearch/...</a>
    </p>
    <p>
        <strong>План закупок</strong><br>
        <a href="http://zakupki.gov.ru/223/plan/public/plan/info/positions.html?planId=382052&planInfoId=2353112" target="_blank"><span class="glyphicon glyphicon-link"></span> http://zakupki.gov.ru/223/plan/public/plan/info/...</a>
    </p>
    <!-- Button -->
    <a href="static/doc/Положение_о_закупках_25.12.2017.pdf" target="_blank" class="btn btn-primary">Положение о закупках</a>

{% endblock %}