{% extends 'layout.htm' %}
{% block content %}

    <p>Для снижения затрат на расходы по содержанию и управлению многоквартирными домами регулярно, своевременно и в полном объеме выполняется следующее:</p>
    <ul>
        <li>Офис компании, производственные участки и аварийные службы размещаются в пределах шаговой доступности от обслуживаемых домов.</li>
        <li>Учет расходов и доходов ведется в следующем соответствии с налоговым кодексом РФ, положением о бухгалтерском учете в РФ (ПБУ), планом счетов бухгалтерского учета финансово-хозяйственной деятельности (План счетов бухгалтерского учета), а также учетной политики предприятия.</li>
        <li>В Обществе ведется индивидуальный учет затрат по каждому дому по следующим видам: управление, содержание общего имущества, текущий ремонт общего имущества, предоставление коммунальных услуг гражданам.</li>
        <li>Выполнение текущего ремонта многоквартирных домов на основании актов весеннеосенних досмотров, согласованных с собственниками (позволяет прогнозировать и планировать затраты).</li>
        <li>Снижение стоимости услуг и повышение длительности сроков службы за счет применения современных материалов и технологий, а также за счет приобретения материалов по оптовым ценам.</li>
        <li>Проведение планово-предупредительных ремонтов систем ГВС, ХВС (позволяет прогнозировать и планировать затраты).</li>
        <li>Заключение более выгодных договоров на услуги и работы, анализ более выгодных предложений подрядчиков (цена договора зависит от объема и качества предоставляемой работы, услуги).</li>
        <li>Проведение информационно-разъяснительных работ с собственниками многоквартирных домов по сохранности имущества.</li>
        <li>Анализ обращений в аварийно-диспетчерскую службу, выявление причинноследственных связей и своевременное устранение аварийных ситуаций в многоквартирном доме (позволяет избежать незапланированных фактических затрат по срочному ремонту инженерного оборудования многоквартирного дома, возмещению ущерба и т.д.).</li>
        <li>Совершенствование методов и средств управления, путем обмена опыта между управляющими компаниями (повышает эффективность деятельности организации).</li>
        <li>Механизация и автоматизация труда.</li>
    </ul>

{% endblock %}