<!doctype html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select-1.13.2.min.css') }}">
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <!-- Title -->
        <title>ООО «ЖКС №2 Кировского района»</title>
    </head>
    <body>
        <!-- Header -->
        <div class="logo">
            <img class="visible-xs center-block" src="{{ url_for('static', filename='img/mobile_logo.png') }}">
            <img class="hidden-xs center-block" src="{{ url_for('static', filename='img/desktop_logo.png') }}">
        </div>

        <!-- Navigation -->
        {% include 'navbar.htm' %}

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 content">

                    <!-- Content -->
                    {% block content %}{% endblock %}
                    
                </div>
            </div>


        </div>
        <hr>
        
        <!-- Footer -->
        <footer class="navbar">
            <div class="container">
                <p class="navbar-text pull-left">{{ current_datetime.year }} © ООО «ЖКС №2 Кировского района»</p>
                <p class="navbar-text pull-right"><a href="https://vk.com/gks2kir" target="_blank"><span class="fa fa-vk"></span></a></p>
            </div>
        </footer>
        <!-- jQuery and Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/holder.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-select-1.13.2.min.js') }}"></script>
    </body>
</html>