{% extends 'layout.htm' %}
{% block content %}

    <!-- Form -->
    <form method="post" action="/reception" enctype="multipart/form-data">

        <!-- Field -->
        <div class="form-group">
            <label class="control-label" for="fullname">Фамилия, имя и отчество *</label>
            <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Ваше имя" autocomplete="given-name">
        </div>

        <!-- Field -->
        <div class="form-group">
            <label class="control-label" for="address">Адрес *</label>
            <input type="text" name="address" class="form-control" id="address" placeholder="Ваше адрес" autocomplete="given-name">
        </div>

        <!-- Field -->
        <div class="form-group">
            <label class="control-label" for="phone">Телефон *</label>
            <input type="text" name="phone" class="form-control" id="phone" placeholder="Ваш номер телефона" autocomplete="tel-national">
        </div>

        <!-- Field -->
        <div class="form-group">
            <label class="control-label" for="email">Электронная почта *</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Ваш адрес электронной почты" autocomplete="email">
        </div>

        <!-- Field -->
        <div class="form-group">
            <label class="control-label" for="subject">Тема сообщения *</label>
            <select name="subject" class="form-control selectpicker" id="subject" title="Выберите тему из списка">
                <option value="Обращение">Обращение</option>
                <option value="Пожелание">Пожелание</option>
                <option value="Заявление">Заявление</option>
                <option value="Благодарность">Благодарность</option>
                <option value="Претензия">Претензия</option>
                <option value="Жалоба">Жалоба</option>
                <option value="Другое">Другое</option>
            </select>
        </div>

        <!-- Field -->
        <div class="form-group">
            <label  class="control-label" for="body">Текст сообщения *</label>
            <textarea name="body" class="form-control" id="body" rows="3" placeholder="Подробно опишите суть сообщения"></textarea>
        </div>

        <!-- Upload file -->
        <div class="form-group">
            <label class="control-label" for="attachment">Прикрепить файл (до 5 Мб)</label>
            <input type="file" name="attachment" accept=".jpg, .png, .pdf" id="attachment">
        </div>

        <!-- Submit button -->
        <div class="text-center"><button type="submit" class="btn btn-primary" id="submit">Отправить</button></div>

        <!-- <p class="small">* Поля обязательные для заполнения</p> -->
    </form>

    <!-- Modal dialog -->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Вы успешно отправили сообщение!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}