{% extends 'layout.htm' %}
{% block content %}

    {% if not year %}

        <!-- Table -->
        <table class="table table-hover">
            <caption>Нас благодарят</caption>
            <thead>
                <tr>
                    <th>Год</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for year in data %}

                    <tr>
                        <td class="col-xs-10">Благодарности {{ year }}</td>
                        <td><a href="{{ request.path + '/' + year }}" class="btn btn-primary">Подробнее</a></td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>

    {% else %}

        <p><a href="/thank_you_letter" class="btn btn-primary">Вернуться</a></p>

        <p class="text-muted">Нас благодарят<br><span class="label label-primary">{{ year }}</span></p>

            {% for chunk in data %}

                <div class="row">

                    {% for item in chunk %}

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail thumbnail-h200">
                                <a href="{{ '/' + item }}" target="_blank"><img data-src="{{ '/' + item }}"></a>
                            </div>
                        </div>

                    {% endfor %}

                </div>

            {% endfor %}

    {% endif %}

{% endblock %}