{% extends 'layout.htm' %}
{% block content %}

    {% if not date %}

        <!-- Default -->

        {% for year, year_data in data.items() %}

            <table class="table table-hover">
                <caption>Еженедельный отчет<br><span class="label label-primary">{{ year }}</span></caption>
                <thead>
                    <tr>
                        <th>Период</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for period in year_data %}

                        <tr>
                            <td class="col-xs-10">Еженедельный отчет {{ period }}</td>
                            <td><a href="{{ request.path + '/' + year + '/' + period }}" class="btn btn-primary">Подробнее</a></td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>

        {% endfor %}

    {% endif %}

    {% if date %}

        <!-- Service report -->

        <p><a href="/weekly_report" class="btn btn-primary">Вернуться</a></p>

        <p class="text-muted">Еженедельный отчет<br><span class="label label-primary">{{ date }}</span></p class="text-muted">

        {% for row in data %}


            <div class="row">

                {% for col in row %}

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail thumbnail-h200">
                            <a href="{{ url_for('static', filename='doc/weekly_report/' + col[0]) }}" target="_blank"><img data-src="{{ url_for('static', filename='doc/weekly_report/' + col[0]) }}"></a>
                            <div class="caption">
                                <h4>{{ col[1] }}</h4>
                                <p>{{ col[2] }}</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        {% endfor %}

    {% endif %}

{% endblock %}