{% extends 'layout.htm' %}
{% block content %}

    {% if request.path == '/weekly_report' %}

        <!-- Default -->

        {% for period in data %}

            <table class="table table-hover">
                <caption>Еженедельный отчет<br><span class="label label-primary">{{ period }}</span></caption>
                <thead>
                    <tr>
                        <th>Категория</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-xs-10">Текущий ремонт</td>
                        <td><a href="{{ request.path }}/service_report?date={{ period }}" class="btn btn-primary">Подробнее</a></td>
                    </tr>
                    <tr>
                        <td class="col-xs-10">Благоустройство территории</td>
                        <td><a href="{{ request.path }}/landscaping_report?date={{ period }}" class="btn btn-primary">Подробнее</a></td>
                    </tr>
                    <tr>
                        <td class="col-xs-10">Обращения</td>
                        <td><a href="{{ request.path }}/appeal_report?date={{ period }}" class="btn btn-primary">Подробнее</a></td>
                    </tr>
                </tbody>
            </table>
        
        {% endfor %}

    {% endif %}

    {% if request.path == '/weekly_report/service_report' %}

        <!-- Service report -->

        <p><a href="/weekly_report" class="btn btn-primary">Вернуться</a></p>

        <p class="text-muted">Еженедельный отчет<br><span class="label label-primary">{{ request.args.get('date') }}</span></p class="text-muted">

        {% for row in data %}


            <div class="row">

                {% for col in row %}

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail thumbnail-h200">
                            <a href="/doc/weekly_report/{{ col[0] }}" target="_blank"><img data-src="/doc/weekly_report/{{ col[0] }}"></a>
                            <div class="caption">
                                <h4>{{ col[1] }}</h4>
                                <p>{{ col[2] }}</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        {% endfor %}

    {% endif %}

    {% if request.path == '/weekly_report/landscaping_report' %}

        <!-- Landscaping report -->

    {% endif %}

    {% if request.path == '/weekly_report/appeal_report' %}

        <!-- Appeal report -->

    {% endif %}

{% endblock %}